<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Сотрудники</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEmployee" type="submit">Добавить сотрудника</button>
          </div>
        </div>
    </nav>



    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Отдел</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Дата устройства на работу</th>
            <th scope="col">Заработная плата</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of empList">
            <td>{{employee.firstName}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.patronymic}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.birthDate}}</td>
            <td>{{employee.dateOfEmployment}}</td>
            <td>{{employee.salary}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee" (click)="editEmployee(employee)">Редактировать</button>
                <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee)">Удалить</button>
            </td>

          </tr>
          
        </tbody>
      </table>

  
 <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить нового сотрудника</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="empDetail">
                <div class="mb-3">
                    <label for="empInput" class="form-label">Имя </label>
                    <input type="text" formControlName="FirstName" class="form-control" id="FirstName">
                </div>
                <div class="mb-3">
                  <label for="empInput" class="form-label">Фамилия </label>
                  <input type="text" formControlName="Surname" class="form-control" id="Surname">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Отчество </label>
                    <input type="text" formControlName="Patronymic" class="form-control" id="Patronymic">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Отдел </label>
                    <input type="text" formControlName="Department" class="form-control" id="Department">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Дата рождения </label>
                    <input type="date" formControlName="BirthDate" class="form-control" id="BirthDate">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Дата устройства на работу </label>
                    <input type="date" formControlName="DateOfEmployment" class="form-control" id="DateOfEmployment">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Заработная плата </label>
                    <input type="number" formControlName="Salary" class="form-control" id="Salary">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Добавить</button>
                  </div>
              </form>

        </div>
        
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Редактировать сотрудника</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form [formGroup]="empDetail">
                <div class="mb-3">
                    <label for="empInput" class="form-label">Имя </label>
                    <input type="text" formControlName="FirstName" class="form-control" id="FirstName">
                </div>
                <div class="mb-3">
                  <label for="empInput" class="form-label">Фамилия </label>
                  <input type="text" formControlName="Surname" class="form-control" id="Surname">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Отчество </label>
                    <input type="text" formControlName="Patronymic" class="form-control" id="Patronymic">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Отдел </label>
                    <input type="text" formControlName="Department" class="form-control" id="Department">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Дата рождения </label>
                    <input type="date" formControlName="BirthDate" class="form-control" id="BirthDate">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Дата устройства на работу </label>
                    <input type="date" formControlName="DateOfEmployment" class="form-control" id="DateOfEmployment">
                </div>
                <div class="mb-3">
                    <label for="empInput" class="form-label">Заработная плата </label>
                    <input type="number" formControlName="Salary" class="form-control" id="Salary">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-outline-success" (click)="updateEmployee()" data-bs-dismiss="modal">Сохранить </button>
                  </div>
              </form>

        </div>
      </div>
    </div>
  </div>


</div> 